//------Variables------//
$pink:hotpink;

@mixin mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

//------Index Page------//
body {
    background-color: $pink;
    margin: 0px;
}

.header-container {
    height: auto;
    width: 100%;
    @include mobile();
}

.logo {
    height: auto;
    
    @include mobile();
    margin: 0px;
    background-repeat: no-repeat;
}

img {
    width: 420px;
    height: auto;
}

.nav-bar {
    @include mobile();
    margin:0px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    display: column;
    list-style: none;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

ul li {
    text-align: center;
    background-color: black;
    width: 100vh;
    margin: 0px;
}

ul li a {
    color: $pink;
    font-size: 30px;
    font-weight: bold;
}

ul li a:hover {
    color: black;
    font-size: 35px;
    transition: .5s;
    font-weight: bolder;
}

ul li:hover {
    background-color: skyblue;
}

//------Media Queries------//
